{% include 'navbar.html' %}
<div class="col-sm-10 scrollable">
    <div class="row">
        <div class="col-sm-10">
            <h3>Edit Task | {{subteam}}</h3>
        </div>
        <div class="col-sm-2">
            <h3 class="date">{{date}}</h3>
        </div>
        <div class="col-sm-12">
            <hr>
        </div>
        <div class="col-sm-8">
            <div class="panel" style="height:30vh;">
                <form class="form-horizontal" action="/{{subteam}}/update_task/edited/{{task[0]}}" method="POST">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="date">Due Date:</label>
                        <div class="col-sm-3">
                            <input type="date" class="form-control" name="date" placeholder="Enter Due Date" value="{{task[1]}}">
                        </div>
                        <div class="col-sm-7"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="task">Task:</label>
                        <div class="col-sm-9">
                            <input type="text" style="font-size:14px;" class="form-control" name="text" placeholder="Enter Task" value="{{task[4]}}"required>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="task">Assign To:</label>
                        <div class="col-sm-9">
                          <input type="text" style="font-size:14px;" class="form-control" name="assignment" placeholder="Assign To" value="{{task[2]}}" required>
                        </div>
                        <div class="col-sm-1"></div>
                      </div>
                    <div class="form-group">
                        <div class="col-sm-8"></div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-default" style="font-size:10px;">Save</button>
                            <a href="/{{subteam}}"><button style="margin:0px;" type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>

</div>
</div>
</body>

</html>